.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	.card {
		width: 400px;
		height: 500px;
		border-radius: 10px;
		background-color: hsl(34, 78%, 91%);
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}
