.welcome_section {
  background-color: grey;
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 2rem 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 40px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
