* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h6 {
	font-family: "Gilda Display", serif;
}
p,
a {
	font-family: "Poppins", serif;
}
.line_clamp_2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
.line_clamp_3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	overflow: hidden;
	-webkit-box-orient: vertical;
	text-align: left;
	height: 80px;
}
